.TravelPlanPage {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 40px);
    max-width: 800px;
    width: 100%;
    padding: 0 15px;
}

.TravelPlanPage-load-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px);
}

.TravelPlanPage-title {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: left;
}

.TravelPlanPage-title-subtitle {
    font-size: 1.3rem;
    color: rgb(90,90,90);
    text-transform: uppercase;
}

.TravelPlanPage-button-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .TravelPlanPage-button-area {
        flex-direction: column-reverse;
        gap: 20px;
    }
}